body{
    font-family: 'Nunito';
}
.nav{
    font-size: 30px;
}
.bar{
    width: 100%;
}
.cour{
    font-size: 20px;
    text-align: right;
}
.btn{
    font-size: 25px;
    background-color: #EC4067;
    align-items: right;
}

.mor{
    font-size: 30px;
    color: #EC4067;
}