body{
    font-family: 'Nunito';
}
.nav{
    font-size: 30px;
}
.bar{
    width: 100%;
}
.cour{
    font-size: 20px;
    text-align: right;
}
.btn{
    font-size: 25px;
    background-color: #EC4067;
    align-items: right;
}

.mor{
    font-size: 30px;
    color: #EC4067;
}

.p1{
    width: 100%;
}
.stor{
    font-size: 25px;
    font-family: 'Nunito';
}
.h2{
    color: #EC4067;
}
.con{
    color: #EC4067;
}
.ld{
    font-size: 25px;
}
footer{
    font-size: 30px;
    text-align: center;
    height: 100px;
    background-color: aliceblue;
    
}
.img{
    margin: 3%;
    position: relative;
}
.ck{
    position: absolute;
    bottom: 1px;
    left: 10px;
    color: white;
    font-size: 30px;
    font: 'Nunito';
}
.top{
    position: absolute;
    top: 10px;
    left: 1100px;
    color: white;
    font-size: 30px;
    font: 'Nunito';
}
.img3{
    position: absolute;
    bottom: 1px;
    left: 900px;
    color: white;
    font-size: 30px;
    font: 'Nunito';
}
.tl{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 30px;
    font: 'Nunito';
}
